@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    @apply text-gray-800;
}

h1 {
    font-family: Oswald;
    @apply text-2xl;
    @apply ml-4;
}

h2 {
    font-family: Oswald;
    @apply text-xl;
    @apply ml-4;
}

h3 {
    font-family: Oswald;
    @apply ml-4;
}

h4 {
    font-family: Oswald;
    @apply text-sm;
    @apply ml-4;
}

h5 {
    font-family: Oswald;
    @apply text-xs;
    @apply ml-4;
}

h6 {
    font-family: Oswald;
    @apply text-xs;
    @apply ml-4;
}

p {
    @apply ml-6;
    @apply bg-gray-100;
}

pre {
    @apply bg-gray-400;
    @apply ml-6;
    @apply p-2;
    @apply whitespace-pre;
    @apply w-full;
}